<div class="container">
  <div class="row">
<h1>Favorite Drinks</h1>

<% foundFaves.forEach(function(fave){ %>
<ul>
  <li>
    <p><%= fave.dataValues.name %></p>
      <form method="POST" action="/drinks/name/<%= fave.dataValues.name %>">
        <input type="hidden" name="drinkId" id="drinkId" value="<%= fave.dataValues.id %>">
        <button>Name</button>
      </form>
  </li>
</ul>
<% }) %>