<div class="container">
  <div class="row">
    <p>Search for a ingredient below...</p>

    <form action="/results/:ingredient" method="GET">
      <input type="search" name="q" placeholder="Enter Ingredient Name" />
      <!-- <input type="submit" /> -->
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
