nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: 0.3em;
}

h1 {
  color: black;
}

h2 {
  color: blue;
}

.row {
  text-align: center;
  justify-content: center;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
